h1 {
    font-size: 50px;
    color: rgb(126, 24, 24);
    margin-left: 30px;
    padding: 25px;
    
}

h2 {
    font-size: 30px;
    color: rgb(126, 24, 24);
    margin-left: 30px;
    padding: 25px;
}
body {
    background-color: rgb(194, 206, 206);
}
button {
    margin-left: 50px;
    padding: 5px;
    display: flex;
    justify-content: right;

}
.imagem {
    margin: 50px;
    align-content: center;
    width: 50%;
    height: 50%;
    
}